# Multi Index DataFrame

In [2]:
import numpy as np
import pandas as pd

In [3]:
columns = ["Morning", "Evening"]
rows = ["Mon", "Tue", "Wed"]
data = [
    (1, 2),
    (3, 4),
    (5, 6)
]
pd.DataFrame(data=data, index=rows, columns=columns)

     Morning  Evening
Mon        1        2
Tue        3        4
Wed        5        6

In [5]:
column_index = pd.MultiIndex.from_tuples([
    ('Services', 'Schools'),
    ('Services', 'Police'),
    ('Culture', 'Museums'),
    ('Culture', 'Restaurants'),    
])
row_index = pd.MultiIndex.from_tuples([
    ("Malkajgiri", "TS", "500047"),
    ("Marredpally", "TS", "500026"),
    ("Musheerbad", "TS", "500020")
])
row_index.names = ["Street", "City", "Zip"]
data = [
    ["A", "B", "A+", "C"],
    ["B+", "C", "C+", "A"],
    ["A", "A", "C", "C"]
]
pd.DataFrame(data=data, index=row_index, columns=column_index)

                        Services        Culture
                         Schools Police Museums Restaurants
Street      City Zip
Malkajgiri  TS   500047        A      B      A+           C
Marredpally TS   500026       B+      C      C+           A
Musheerbad  TS   500020        A      A       C           C

In [10]:
neighborhoods = pd.read_csv("data/neighborhoods.csv", 
                            index_col=[0, 1, 2],
                            header=[0, 1])
neighborhoods

                                               Culture         Services  \
                                           Restaurants Museums   Police
State City               Street
MO    Fisherborough      244 Tracy View             C+       F       D-
SD    Port Curtisville   446 Cynthia Inlet          C-       B        B
WV    Jimenezview        432 John Common             A      A+        F
AK    Stevenshire        238 Andrew Rue             D-       A       A-
ND    New Joshuaport     877 Walter Neck            D+      C-        B
...                                                ...     ...      ...
MI    North Matthew      055 Clayton Isle           B-       C        B
MT    Chadton            601 Richards Road          A-       D       D+
SC    Diazmouth          385 Robin Harbors           F       D       B-
VA    Laurentown         255 Gonzalez Land          C+      B-        F
NE    South Kennethmouth 346 Wallace Pass           C-      B-        A


                                           Schools
State City               Street
MO    Fisherborough      244 Tracy View         A+
SD    Port Curtisville   446 Cynthia Inlet      D+
WV    Jimenezview        432 John Common         B
AK    Stevenshire        238 Andrew Rue         A-
ND    New Joshuaport     877 Walter Neck         B
...                                            ...
MI    North Matthew      055 Clayton Isle       C+
MT    Chadton            601 Richards Road       D
SC    Diazmouth          385 Robin Harbors      D+
VA    Laurentown         255 Gonzalez Land      D-
NE    South Kennethmouth 346 Wallace Pass       A-

[251 rows x 4 columns]

In [11]:
neighborhoods.index

MultiIndex([('MO',      'Fisherborough',        '244 Tracy View'),
            ('SD',   'Port Curtisville',     '446 Cynthia Inlet'),
            ('WV',        'Jimenezview',       '432 John Common'),
            ('AK',        'Stevenshire',        '238 Andrew Rue'),
            ('ND',     'New Joshuaport',       '877 Walter Neck'),
            ('ID',         'Wellsville',   '696 Weber Stravenue'),
            ('TN',          'Jodiburgh',    '285 Justin Corners'),
            ('DC',   'Lake Christopher',   '607 Montoya Harbors'),
            ('OH',          'Port Mike',      '041 Michael Neck'),
            ('ND',         'Hardyburgh', '550 Gilmore Mountains'),
            ...
            ('AK',          'Scottstad',      '114 Jones Garden'),
            ('IA',    'Port Willieport',  '320 Jennifer Mission'),
            ('ME',         'Port Linda',        '692 Hill Glens'),
            ('KS',         'Kaylamouth',       '483 Freeman Via'),
            ('WA',     'Port Shawnfort',    '691 Winters Bridge'),
            ('MI',      'North Matthew',      '055 Clayton Isle'),
            ('MT',            'Chadton',     '601 Richards Road'),
            ('SC',          'Diazmouth',     '385 Robin Harbors'),
            ('VA',         'Laurentown',     '255 Gonzalez Land'),
            ('NE', 'South Kennethmouth',      '346 Wallace Pass')],
           names=['State', 'City', 'Street'], length=251)

In [12]:
neighborhoods.index.names

FrozenList(['State', 'City', 'Street'])

In [13]:
neighborhoods.columns

MultiIndex([( 'Culture', 'Restaurants'),
            ( 'Culture',     'Museums'),
            ('Services',      'Police'),
            ('Services',     'Schools')],
           )

In [14]:
neighborhoods.columns.names

FrozenList([None, None])

In [15]:
neighborhoods.columns.names = ['Category', "Subcategory"]
neighborhoods

Category                                       Culture         Services  \
Subcategory                                Restaurants Museums   Police
State City               Street
MO    Fisherborough      244 Tracy View             C+       F       D-
SD    Port Curtisville   446 Cynthia Inlet          C-       B        B
WV    Jimenezview        432 John Common             A      A+        F
AK    Stevenshire        238 Andrew Rue             D-       A       A-
ND    New Joshuaport     877 Walter Neck            D+      C-        B
...                                                ...     ...      ...
MI    North Matthew      055 Clayton Isle           B-       C        B
MT    Chadton            601 Richards Road          A-       D       D+
SC    Diazmouth          385 Robin Harbors           F       D       B-
VA    Laurentown         255 Gonzalez Land          C+      B-        F
NE    South Kennethmouth 346 Wallace Pass           C-      B-        A

Category
Subcategory                                Schools
State City               Street
MO    Fisherborough      244 Tracy View         A+
SD    Port Curtisville   446 Cynthia Inlet      D+
WV    Jimenezview        432 John Common         B
AK    Stevenshire        238 Andrew Rue         A-
ND    New Joshuaport     877 Walter Neck         B
...                                            ...
MI    North Matthew      055 Clayton Isle       C+
MT    Chadton            601 Richards Road       D
SC    Diazmouth          385 Robin Harbors      D+
VA    Laurentown         255 Gonzalez Land      D-
NE    South Kennethmouth 346 Wallace Pass       A-

[251 rows x 4 columns]

In [ ]:
neighborhoods.index.get_level_values(0)
neighborhoods.index.get_level_values("State")

Index(['MO', 'SD', 'WV', 'AK', 'ND', 'ID', 'TN', 'DC', 'OH', 'ND',
       ...
       'AK', 'IA', 'ME', 'KS', 'WA', 'MI', 'MT', 'SC', 'VA', 'NE'],
      dtype='object', name='State', length=251)

In [18]:
neighborhoods.columns.names

FrozenList(['Category', 'Subcategory'])

In [21]:
neighborhoods.columns.get_level_values(0)
neighborhoods.columns.get_level_values("Category")

Index(['Culture', 'Culture', 'Services', 'Services'], dtype='object', name='Category')

In [27]:
neighborhoods.sort_index(ascending=False)

Category                                      Culture         Services
Subcategory                               Restaurants Museums   Police Schools
State City           Street
WY    Reneeshire     717 Patel Square               B      B+        D       A
      Port Jason     624 Faulkner Orchard          A-       F       C+      C+
      Martintown     013 Bell Mills                C-       D       A-      B-
      Lake Nicole    933 Jennifer Burg              C      A+       A-       C
                     754 Weaver Turnpike            B      D-        B       D
...                                               ...     ...      ...     ...
AL    Clarkland      430 Douglas Mission            A       F       C+      B+
AK    Stevenshire    238 Andrew Rue                D-       A       A-      A-
      Scottstad      114 Jones Garden              D-      D-        D       D
                     082 Leblanc Freeway            D      C-        D      B+
      Rowlandchester 386 Rebecca Cove              C-      A-       A+       C

[251 rows x 4 columns]

In [28]:
neighborhoods.sort_index(ascending=[True, False, True])

Category                                      Culture         Services
Subcategory                               Restaurants Museums   Police Schools
State City           Street
AK    Stevenshire    238 Andrew Rue                D-       A       A-      A-
      Scottstad      082 Leblanc Freeway            D      C-        D      B+
                     114 Jones Garden              D-      D-        D       D
      Rowlandchester 386 Rebecca Cove              C-      A-       A+       C
AL    Vegaside       191 Mindy Meadows             B+      A-       A+      D+
...                                               ...     ...      ...     ...
WY    Port Jason     624 Faulkner Orchard          A-       F       C+      C+
      Martintown     013 Bell Mills                C-       D       A-      B-
      Lake Nicole    754 Weaver Turnpike            B      D-        B       D
                     933 Jennifer Burg              C      A+       A-       C
      Hardyburgh     227 Andrew Parkway             D      C-       D-       C

[251 rows x 4 columns]

In [31]:
neighborhoods.sort_index(level=1, ascending=True)

Category                                      Culture         Services
Subcategory                               Restaurants Museums   Police Schools
State City          Street
AR    Allisonland   124 Diaz Brooks                C-      A+        F      C+
GA    Amyburgh      941 Brian Expressway            B       B       D-      C+
IA    Amyburgh      163 Heather Neck                F       D       A+      A-
ID    Andrewshire   952 Ellis Drive                C+      A-       C+       A
UT    Baileyfort    919 Stewart Hills              D+      C+        A       C
...                                               ...     ...      ...     ...
NC    West Scott    348 Jack Branch                A-      D-       A-       A
SD    West Scott    139 Hardy Vista                C+      A-       D+      B-
IN    Wilsonborough 066 Carr Road                  A+      C-        B       F
NC    Wilsonshire   871 Christopher Vista          B+       B       D+       F
NV    Wilsonshire   542 Jessica Stream              A      A+       C-      C+

[251 rows x 4 columns]

In [33]:
neighborhoods.sort_index(level=[1,2], ascending=[True, False])
neighborhoods.sort_index(level=["City","Street"], ascending=[True, False])

Category                                      Culture         Services
Subcategory                               Restaurants Museums   Police Schools
State City          Street
AR    Allisonland   124 Diaz Brooks                C-      A+        F      C+
GA    Amyburgh      941 Brian Expressway            B       B       D-      C+
IA    Amyburgh      163 Heather Neck                F       D       A+      A-
ID    Andrewshire   952 Ellis Drive                C+      A-       C+       A
UT    Baileyfort    919 Stewart Hills              D+      C+        A       C
...                                               ...     ...      ...     ...
NC    West Scott    348 Jack Branch                A-      D-       A-       A
SD    West Scott    139 Hardy Vista                C+      A-       D+      B-
IN    Wilsonborough 066 Carr Road                  A+      C-        B       F
NC    Wilsonshire   871 Christopher Vista          B+       B       D+       F
NV    Wilsonshire   542 Jessica Stream              A      A+       C-      C+

[251 rows x 4 columns]

In [35]:
neighborhoods.sort_index(
    axis=1,
    level="Category",
    ascending=True
)

Category                                   Culture             Services  \
Subcategory                                Museums Restaurants   Police
State City               Street
MO    Fisherborough      244 Tracy View          F          C+       D-
SD    Port Curtisville   446 Cynthia Inlet       B          C-        B
WV    Jimenezview        432 John Common        A+           A        F
AK    Stevenshire        238 Andrew Rue          A          D-       A-
ND    New Joshuaport     877 Walter Neck        C-          D+        B
...                                            ...         ...      ...
MI    North Matthew      055 Clayton Isle        C          B-        B
MT    Chadton            601 Richards Road       D          A-       D+
SC    Diazmouth          385 Robin Harbors       D           F       B-
VA    Laurentown         255 Gonzalez Land      B-          C+        F
NE    South Kennethmouth 346 Wallace Pass       B-          C-        A

Category
Subcategory                                Schools
State City               Street
MO    Fisherborough      244 Tracy View         A+
SD    Port Curtisville   446 Cynthia Inlet      D+
WV    Jimenezview        432 John Common         B
AK    Stevenshire        238 Andrew Rue         A-
ND    New Joshuaport     877 Walter Neck         B
...                                            ...
MI    North Matthew      055 Clayton Isle       C+
MT    Chadton            601 Richards Road       D
SC    Diazmouth          385 Robin Harbors      D+
VA    Laurentown         255 Gonzalez Land      D-
NE    South Kennethmouth 346 Wallace Pass       A-

[251 rows x 4 columns]

In [36]:
neighborhoods.sort_index(
    axis=1,
    level="Subcategory",
    ascending=True
)

,,Category,Culture,Services,Culture,Services
,,Subcategory,Museums,Police,Restaurants,Schools
State,City,Street,,,,
MO,Fisherborough,244 Tracy View,F,D-,C+,A+
SD,Port Curtisville,446 Cynthia Inlet,B,B,C-,D+
WV,Jimenezview,432 John Common,A+,F,A,B
AK,Stevenshire,238 Andrew Rue,A,A-,D-,A-
ND,New Joshuaport,877 Walter Neck,C-,B,D+,B
...,...,...,...,...,...,...
MI,North Matthew,055 Clayton Isle,C,B,B-,C+
MT,Chadton,601 Richards Road,D,D+,A-,D
SC,Diazmouth,385 Robin Harbors,D,B-,F,D+
VA,Laurentown,255 Gonzalez Land,B-,F,C+,D-
NE,South Kennethmouth,346 Wallace Pass,B-,A,C-,A-

### Extracting columns or rows

In [38]:
neighborhoods.loc["TX"]

Category                         Culture         Services
Subcategory                  Restaurants Museums   Police Schools
City        Street
Leeberg     693 Avila Pines           C+       F       A+      D+
Jacksonfort 332 Rachel Way            D+      A-       C-       D
Kingchester 534 Gordon Falls           C      D+        B       B

In [39]:
neighborhoods.loc[("MT", "Chadton", "601 Richards Road")]

Category  Subcategory
Culture   Restaurants    A-
          Museums         D
Services  Police         D+
          Schools         D
Name: (MT, Chadton, 601 Richards Road), dtype: object

In [54]:
neighborhoods = neighborhoods.sort_index()
neighborhoods.loc[("NE","Barryborough"):("NH","North Latoya")]

Category                                          Culture         Services  \
Subcategory                                   Restaurants Museums   Police
State City               Street
NE    Barryborough       460 Anna Tunnel               A+      A+        B
      Shawnchester       802 Cook Cliff                D-      D+        D
      South Kennethmouth 346 Wallace Pass              C-      B-        A
      South Nathan       821 Jake Fork                 C+       D       D+
NH    Courtneyfort       697 Spencer Isle              A+      A+       C+
      East Deborahberg   271 Ryan Mount                 B       C       D+
      Ingramton          430 Calvin Underpass          C+      D+        C
      North Latoya       603 Clark Mount               D-      A-       B+

Category
Subcategory                                   Schools
State City               Street
NE    Barryborough       460 Anna Tunnel            A
      Shawnchester       802 Cook Cliff             A
      South Kennethmouth 346 Wallace Pass          A-
      South Nathan       821 Jake Fork              A
NH    Courtneyfort       697 Spencer Isle          A+
      East Deborahberg   271 Ryan Mount            B-
      Ingramton          430 Calvin Underpass      C-
      North Latoya       603 Clark Mount           B-