# Pandas - Series Object

In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.Series()

Series([], dtype: object)

In [3]:
pd.Series([10, 20, 30, 40, 50])

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [4]:
pd.Series([10, 20, 30, 40, 50], dtype='float')

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
dtype: float64

In [6]:
ice_creams = pd.Series(['Vanilla', 'Chocolate', 'Strawberry', 'Mint'])
ice_creams

0       Vanilla
1     Chocolate
2    Strawberry
3          Mint
dtype: object

In [7]:
ice_creams = ['Vanilla', 'Chocolate', 'Strawberry', 'Mint']
fav_ic = pd.Series(data = ice_creams)
fav_ic

0       Vanilla
1     Chocolate
2    Strawberry
3          Mint
dtype: object

In [8]:
ice_creams = ['Vanilla', 'Chocolate', 'Strawberry', 'Mint']
week_days = ['Mon', 'Tue', 'Wed', 'Thu']
fav_ic = pd.Series(data = ice_creams, index=week_days)
fav_ic

Mon       Vanilla
Tue     Chocolate
Wed    Strawberry
Thu          Mint
dtype: object

In [9]:
pd.Series([1, 2, 3, np.nan, 5])

0    1.0
1    2.0
2    3.0
3    NaN
4    5.0
dtype: float64

In [11]:
emp_dict = {
    '1001': 'Alice',
    '1002': 'Bob',
    '1003': 'Charlie',
    '1004': 'David',
    '1005': 'Eva'
}
pd.Series(emp_dict)

1001      Alice
1002        Bob
1003    Charlie
1004      David
1005        Eva
dtype: object