# More on DataFrames

In [1]:
import numpy as np
import pandas as pd

In [2]:
random_data = np.random.randint(1, 101, (3, 5))
random_data

array([[36, 94, 43, 34, 32],
       [10, 96, 99, 20, 28],
       [52, 75, 99, 25, 14]])

In [3]:
row_labels = ["Morning", "Afternoon", "Evening"]
column_labels = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]
df = pd.DataFrame(data=random_data, index=row_labels, columns =column_labels)
df

           Monday  Tuesday  Wednesday  Thursday  Friday
Morning        36       94         43        34      32
Afternoon      10       96         99        20      28
Evening        52       75         99        25      14

In [6]:
df.transpose()
df.T

           Morning  Afternoon  Evening
Monday          36         10       52
Tuesday         94         96       75
Wednesday       43         99       99
Thursday        34         20       25
Friday          32         28       14

In [19]:
nba = pd.read_csv("data/nba.csv", parse_dates=["Birthday"], index_col="Name")
nba.head(5)

C:\Users\singa\AppData\Local\Temp\ipykernel_12620\2937148010.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  nba = pd.read_csv("data/nba.csv", parse_dates=["Birthday"], index_col="Name")

                              Team Position   Birthday   Salary
Name
Shake Milton    Philadelphia 76ers       SG 1996-09-26  1445697
Christian Wood     Detroit Pistons       PF 1995-09-27  1645357
PJ Washington    Charlotte Hornets       PF 1998-08-23  3831840
Derrick Rose       Detroit Pistons       PG 1988-10-04  7317074
Marial Shayok   Philadelphia 76ers        G 1995-07-26    79568

In [11]:
nba.dtypes.value_counts()

object            3
datetime64[ns]    1
int64             1
Name: count, dtype: int64

In [12]:
nba.min()

Name               Aaron Gordon
Team              Atlanta Hawks
Position                      C
Birthday    1977-01-26 00:00:00
Salary                    79568
dtype: object

In [13]:
nba.max()

Name             Zylan Cheatham
Team         Washington Wizards
Position                     SG
Birthday    2000-12-23 00:00:00
Salary                 40231758
dtype: object

In [15]:
nba.nlargest(n=3, columns="Salary")

                  Name                   Team Position   Birthday    Salary
205      Stephen Curry  Golden State Warriors       PG 1988-03-14  40231758
38          Chris Paul  Oklahoma City Thunder       PG 1985-05-06  38506482
219  Russell Westbrook        Houston Rockets       PG 1988-11-12  38506482

In [ ]:
nba.sum(numeric_only=True)  # mean(), median(), mode(), std()

Salary    3444112694
dtype: int64

### Sorting by Index
- axis = 0 is for sorting rows... axis=1 or "columns" is for sorting columns

In [22]:
nba.sort_index(axis=1, ascending=False) # axis=1 or axis="columns" for sorting columns

                               Team    Salary Position   Birthday
Name
Shake Milton     Philadelphia 76ers   1445697       SG 1996-09-26
Christian Wood      Detroit Pistons   1645357       PF 1995-09-27
PJ Washington     Charlotte Hornets   3831840       PF 1998-08-23
Derrick Rose        Detroit Pistons   7317074       PG 1988-10-04
Marial Shayok    Philadelphia 76ers     79568        G 1995-07-26
...                             ...       ...      ...        ...
Austin Rivers       Houston Rockets   2174310       PG 1992-08-01
Harry Giles        Sacramento Kings   2578800       PF 1998-04-22
Robin Lopez         Milwaukee Bucks   4767000        C 1988-04-01
Collin Sexton   Cleveland Cavaliers   4764960       PG 1999-01-04
Ricky Rubio            Phoenix Suns  16200000       PG 1990-10-21

[450 rows x 4 columns]

### Select the rows and columns from a dataframe

In [24]:
nba = nba.reset_index()
nba

               Name                 Team Position   Birthday    Salary
0      Shake Milton   Philadelphia 76ers       SG 1996-09-26   1445697
1    Christian Wood      Detroit Pistons       PF 1995-09-27   1645357
2     PJ Washington    Charlotte Hornets       PF 1998-08-23   3831840
3      Derrick Rose      Detroit Pistons       PG 1988-10-04   7317074
4     Marial Shayok   Philadelphia 76ers        G 1995-07-26     79568
..              ...                  ...      ...        ...       ...
445   Austin Rivers      Houston Rockets       PG 1992-08-01   2174310
446     Harry Giles     Sacramento Kings       PF 1998-04-22   2578800
447     Robin Lopez      Milwaukee Bucks        C 1988-04-01   4767000
448   Collin Sexton  Cleveland Cavaliers       PG 1999-01-04   4764960
449     Ricky Rubio         Phoenix Suns       PG 1990-10-21  16200000

[450 rows x 5 columns]

In [25]:
nba.select_dtypes(include="object")

               Name                 Team Position
0      Shake Milton   Philadelphia 76ers       SG
1    Christian Wood      Detroit Pistons       PF
2     PJ Washington    Charlotte Hornets       PF
3      Derrick Rose      Detroit Pistons       PG
4     Marial Shayok   Philadelphia 76ers        G
..              ...                  ...      ...
445   Austin Rivers      Houston Rockets       PG
446     Harry Giles     Sacramento Kings       PF
447     Robin Lopez      Milwaukee Bucks        C
448   Collin Sexton  Cleveland Cavaliers       PG
449     Ricky Rubio         Phoenix Suns       PG

[450 rows x 3 columns]

In [26]:
nba.select_dtypes(exclude='int')

               Name                 Team Position   Birthday
0      Shake Milton   Philadelphia 76ers       SG 1996-09-26
1    Christian Wood      Detroit Pistons       PF 1995-09-27
2     PJ Washington    Charlotte Hornets       PF 1998-08-23
3      Derrick Rose      Detroit Pistons       PG 1988-10-04
4     Marial Shayok   Philadelphia 76ers        G 1995-07-26
..              ...                  ...      ...        ...
445   Austin Rivers      Houston Rockets       PG 1992-08-01
446     Harry Giles     Sacramento Kings       PF 1998-04-22
447     Robin Lopez      Milwaukee Bucks        C 1988-04-01
448   Collin Sexton  Cleveland Cavaliers       PG 1999-01-04
449     Ricky Rubio         Phoenix Suns       PG 1990-10-21

[450 rows x 4 columns]

In [27]:
nba.select_dtypes(exclude=["object", "int"])

      Birthday
0   1996-09-26
1   1995-09-27
2   1998-08-23
3   1988-10-04
4   1995-07-26
..         ...
445 1992-08-01
446 1998-04-22
447 1988-04-01
448 1999-01-04
449 1990-10-21

[450 rows x 1 columns]

In [ ]:
nba = nba.set_index("Name")

In [33]:
nba

                               Team Position   Birthday    Salary
Name
Shake Milton     Philadelphia 76ers       SG 1996-09-26   1445697
Christian Wood      Detroit Pistons       PF 1995-09-27   1645357
PJ Washington     Charlotte Hornets       PF 1998-08-23   3831840
Derrick Rose        Detroit Pistons       PG 1988-10-04   7317074
Marial Shayok    Philadelphia 76ers        G 1995-07-26     79568
...                             ...      ...        ...       ...
Austin Rivers       Houston Rockets       PG 1992-08-01   2174310
Harry Giles        Sacramento Kings       PF 1998-04-22   2578800
Robin Lopez         Milwaukee Bucks        C 1988-04-01   4767000
Collin Sexton   Cleveland Cavaliers       PG 1999-01-04   4764960
Ricky Rubio            Phoenix Suns       PG 1990-10-21  16200000

[450 rows x 4 columns]

In [37]:
nba.loc[["Ricky Rubio", "Derrick Rose"], ["Team", "Salary"]]

                         Team    Salary
Name
Ricky Rubio      Phoenix Suns  16200000
Derrick Rose  Detroit Pistons   7317074

In [38]:
nba.loc["Christian Wood":"Marial Shayok", ["Team", "Salary"] ]

                              Team   Salary
Name
Christian Wood     Detroit Pistons  1645357
PJ Washington    Charlotte Hornets  3831840
Derrick Rose       Detroit Pistons  7317074
Marial Shayok   Philadelphia 76ers    79568

In [40]:
nba.iloc[1, 2]

Timestamp('1995-09-27 00:00:00')

In [41]:
nba.iloc[[1, 2]]

                             Team Position   Birthday   Salary
Name
Christian Wood    Detroit Pistons       PF 1995-09-27  1645357
PJ Washington   Charlotte Hornets       PF 1998-08-23  3831840

In [44]:
nba = nba.reset_index()
nba

               Name                 Team Position   Birthday    Salary
0      Shake Milton   Philadelphia 76ers       SG 1996-09-26   1445697
1    Christian Wood      Detroit Pistons       PF 1995-09-27   1645357
2     PJ Washington    Charlotte Hornets       PF 1998-08-23   3831840
3      Derrick Rose      Detroit Pistons       PG 1988-10-04   7317074
4     Marial Shayok   Philadelphia 76ers        G 1995-07-26     79568
..              ...                  ...      ...        ...       ...
445   Austin Rivers      Houston Rockets       PG 1992-08-01   2174310
446     Harry Giles     Sacramento Kings       PF 1998-04-22   2578800
447     Robin Lopez      Milwaukee Bucks        C 1988-04-01   4767000
448   Collin Sexton  Cleveland Cavaliers       PG 1999-01-04   4764960
449     Ricky Rubio         Phoenix Suns       PG 1990-10-21  16200000

[450 rows x 5 columns]

In [45]:
nba = nba.set_index("Name")
nba

                               Team Position   Birthday    Salary
Name
Shake Milton     Philadelphia 76ers       SG 1996-09-26   1445697
Christian Wood      Detroit Pistons       PF 1995-09-27   1645357
PJ Washington     Charlotte Hornets       PF 1998-08-23   3831840
Derrick Rose        Detroit Pistons       PG 1988-10-04   7317074
Marial Shayok    Philadelphia 76ers        G 1995-07-26     79568
...                             ...      ...        ...       ...
Austin Rivers       Houston Rockets       PG 1992-08-01   2174310
Harry Giles        Sacramento Kings       PF 1998-04-22   2578800
Robin Lopez         Milwaukee Bucks        C 1988-04-01   4767000
Collin Sexton   Cleveland Cavaliers       PG 1999-01-04   4764960
Ricky Rubio            Phoenix Suns       PG 1990-10-21  16200000

[450 rows x 4 columns]

In [46]:
nba.sort_index()

                                    Team Position   Birthday    Salary
Name
Aaron Gordon               Orlando Magic       PF 1995-09-16  19863636
Aaron Holiday             Indiana Pacers       PG 1996-09-30   2239200
Abdel Nader        Oklahoma City Thunder       SF 1993-09-25   1618520
Adam Mokoka                Chicago Bulls        G 1998-07-18     79568
Admiral Schofield     Washington Wizards       SF 1997-03-30   1000000
...                                  ...      ...        ...       ...
Zach LaVine                Chicago Bulls       PG 1995-03-10  19500000
Zach Norvell          Los Angeles Lakers       SG 1997-12-09     79568
Zhaire Smith          Philadelphia 76ers       SG 1999-06-04   3058800
Zion Williamson     New Orleans Pelicans        F 2000-07-06   9757440
Zylan Cheatham      New Orleans Pelicans       SF 1995-11-17     79568

[450 rows x 4 columns]

In [47]:
nba = nba.reset_index()
nba

               Name                 Team Position   Birthday    Salary
0      Shake Milton   Philadelphia 76ers       SG 1996-09-26   1445697
1    Christian Wood      Detroit Pistons       PF 1995-09-27   1645357
2     PJ Washington    Charlotte Hornets       PF 1998-08-23   3831840
3      Derrick Rose      Detroit Pistons       PG 1988-10-04   7317074
4     Marial Shayok   Philadelphia 76ers        G 1995-07-26     79568
..              ...                  ...      ...        ...       ...
445   Austin Rivers      Houston Rockets       PG 1992-08-01   2174310
446     Harry Giles     Sacramento Kings       PF 1998-04-22   2578800
447     Robin Lopez      Milwaukee Bucks        C 1988-04-01   4767000
448   Collin Sexton  Cleveland Cavaliers       PG 1999-01-04   4764960
449     Ricky Rubio         Phoenix Suns       PG 1990-10-21  16200000

[450 rows x 5 columns]

In [48]:
nba.columns

Index(['Name', 'Team', 'Position', 'Birthday', 'Salary'], dtype='object')

In [49]:
nba.columns = ["Name", "Team", "Position", "Day of Birth", "Pay"]
nba

               Name                 Team Position Day of Birth       Pay
0      Shake Milton   Philadelphia 76ers       SG   1996-09-26   1445697
1    Christian Wood      Detroit Pistons       PF   1995-09-27   1645357
2     PJ Washington    Charlotte Hornets       PF   1998-08-23   3831840
3      Derrick Rose      Detroit Pistons       PG   1988-10-04   7317074
4     Marial Shayok   Philadelphia 76ers        G   1995-07-26     79568
..              ...                  ...      ...          ...       ...
445   Austin Rivers      Houston Rockets       PG   1992-08-01   2174310
446     Harry Giles     Sacramento Kings       PF   1998-04-22   2578800
447     Robin Lopez      Milwaukee Bucks        C   1988-04-01   4767000
448   Collin Sexton  Cleveland Cavaliers       PG   1999-01-04   4764960
449     Ricky Rubio         Phoenix Suns       PG   1990-10-21  16200000

[450 rows x 5 columns]

In [53]:
nba = nba.rename(columns={"Day of Birth":"Birthday"})
nba

               Name                 Team Position   Birthday       Pay
0      Shake Milton   Philadelphia 76ers       SG 1996-09-26   1445697
1    Christian Wood      Detroit Pistons       PF 1995-09-27   1645357
2     PJ Washington    Charlotte Hornets       PF 1998-08-23   3831840
3      Derrick Rose      Detroit Pistons       PG 1988-10-04   7317074
4     Marial Shayok   Philadelphia 76ers        G 1995-07-26     79568
..              ...                  ...      ...        ...       ...
445   Austin Rivers      Houston Rockets       PG 1992-08-01   2174310
446     Harry Giles     Sacramento Kings       PF 1998-04-22   2578800
447     Robin Lopez      Milwaukee Bucks        C 1988-04-01   4767000
448   Collin Sexton  Cleveland Cavaliers       PG 1999-01-04   4764960
449     Ricky Rubio         Phoenix Suns       PG 1990-10-21  16200000

[450 rows x 5 columns]

In [55]:
nba = nba.set_index("Name")
nba

                               Team Position   Birthday       Pay
Name
Shake Milton     Philadelphia 76ers       SG 1996-09-26   1445697
Christian Wood      Detroit Pistons       PF 1995-09-27   1645357
PJ Washington     Charlotte Hornets       PF 1998-08-23   3831840
Derrick Rose        Detroit Pistons       PG 1988-10-04   7317074
Marial Shayok    Philadelphia 76ers        G 1995-07-26     79568
...                             ...      ...        ...       ...
Austin Rivers       Houston Rockets       PG 1992-08-01   2174310
Harry Giles        Sacramento Kings       PF 1998-04-22   2578800
Robin Lopez         Milwaukee Bucks        C 1988-04-01   4767000
Collin Sexton   Cleveland Cavaliers       PG 1999-01-04   4764960
Ricky Rubio            Phoenix Suns       PG 1990-10-21  16200000

[450 rows x 4 columns]

In [59]:
nba.rename(index={"PJ Washington":"DJ Washington"})

                               Team Position   Birthday       Pay
Name
Shake Milton     Philadelphia 76ers       SG 1996-09-26   1445697
Christian Wood      Detroit Pistons       PF 1995-09-27   1645357
DJ Washington     Charlotte Hornets       PF 1998-08-23   3831840
Derrick Rose        Detroit Pistons       PG 1988-10-04   7317074
Marial Shayok    Philadelphia 76ers        G 1995-07-26     79568
...                             ...      ...        ...       ...
Austin Rivers       Houston Rockets       PG 1992-08-01   2174310
Harry Giles        Sacramento Kings       PF 1998-04-22   2578800
Robin Lopez         Milwaukee Bucks        C 1988-04-01   4767000
Collin Sexton   Cleveland Cavaliers       PG 1999-01-04   4764960
Ricky Rubio            Phoenix Suns       PG 1990-10-21  16200000

[450 rows x 4 columns]

In [60]:
nba

                               Team Position   Birthday       Pay
Name
Shake Milton     Philadelphia 76ers       SG 1996-09-26   1445697
Christian Wood      Detroit Pistons       PF 1995-09-27   1645357
PJ Washington     Charlotte Hornets       PF 1998-08-23   3831840
Derrick Rose        Detroit Pistons       PG 1988-10-04   7317074
Marial Shayok    Philadelphia 76ers        G 1995-07-26     79568
...                             ...      ...        ...       ...
Austin Rivers       Houston Rockets       PG 1992-08-01   2174310
Harry Giles        Sacramento Kings       PF 1998-04-22   2578800
Robin Lopez         Milwaukee Bucks        C 1988-04-01   4767000
Collin Sexton   Cleveland Cavaliers       PG 1999-01-04   4764960
Ricky Rubio            Phoenix Suns       PG 1990-10-21  16200000

[450 rows x 4 columns]