# Working with Dates and Times

In [1]:
import numpy as np
import pandas as pd

In [2]:
# from datetime import date, time, datetime, timedelta
import datetime as dt

In [3]:
# dt.date(year, month, day)
# dt.date.today()   # current date
dt.date(2025, 11, 25)

datetime.date(2025, 11, 25)

In [5]:
# dt.datetime(year, month, day, hour, minute, second, microsecond)
# dt.datetime.now()  # current date and time
dt.datetime(2025, 11, 25, 10, 30, 45)

datetime.datetime(2025, 11, 25, 10, 30, 45)

In [6]:
# dt.time(hour, minute, second, microsecond)
dt.time(14, 45, 30)

datetime.time(14, 45, 30)

In [7]:
pd.Timestamp('2025-11-25 10:30:45')

Timestamp('2025-11-25 10:30:45')

In [9]:
pd.Timestamp('2005-7/17 3:20 PM')

Timestamp('2005-07-17 15:20:00')

In [10]:
pd.Timestamp(year=2025, month=11, hour=10, minute=25, day=25, second=15)

Timestamp('2025-11-25 10:25:15')

In [12]:
my_time = pd.Timestamp(dt.datetime.now())
my_time

Timestamp('2025-11-18 10:39:05.420228')

In [15]:
my_time.year  # month / day/ hour / minute / second / microsecond

2025

In [16]:
disney = pd.read_csv("data/disney.csv", parse_dates=["Date"])

In [17]:
disney.head()

        Date      High       Low      Open     Close
0 1962-01-02  0.096026  0.092908  0.092908  0.092908
1 1962-01-03  0.094467  0.092908  0.092908  0.094155
2 1962-01-04  0.094467  0.093532  0.094155  0.094155
3 1962-01-05  0.094779  0.093844  0.094155  0.094467
4 1962-01-08  0.095714  0.092285  0.094467  0.094155

In [18]:
disney["Date"].dt

In [19]:
disney["Date"].dt.year  # month / day / dayofweek / dayofyear / week / quarter / hour / minute / second

0        1962
1        1962
2        1962
3        1962
4        1962
         ...
14722    2020
14723    2020
14724    2020
14725    2020
14726    2020
Name: Date, Length: 14727, dtype: int32

In [21]:
disney["Date"].dt.day_name() # month_name()

0          Tuesday
1        Wednesday
2         Thursday
3           Friday
4           Monday
           ...
14722       Friday
14723       Monday
14724      Tuesday
14725    Wednesday
14726     Thursday
Name: Date, Length: 14727, dtype: object

In [ ]:
disney["Date"].dt.is_quarter_start # is_month_start / is_year_start / is_quarter_end / is_month_end / is_year_end

### pd.DateOffset() - To Offset a give date or time

In [27]:
disney["Date"] + pd.DateOffset(years=40, months=3, days=4, hours=10, minutes=30, seconds=15)

0       2002-04-06 10:30:15
1       2002-04-07 10:30:15
2       2002-04-08 10:30:15
3       2002-04-09 10:30:15
4       2002-04-12 10:30:15
                ...
14722   2060-09-30 10:30:15
14723   2060-10-03 10:30:15
14724   2060-10-04 10:30:15
14725   2060-10-05 10:30:15
14726   2060-10-06 10:30:15
Name: Date, Length: 14727, dtype: datetime64[ns]

In [28]:
start = dt.date.today()
start

datetime.date(2025, 11, 18)

In [30]:
end = start + pd.DateOffset(weeks=10)
end

Timestamp('2026-01-27 00:00:00')

### pd.offsets  for offsetting date and time values

In [31]:
start

datetime.date(2025, 11, 18)

In [32]:
start + pd.offsets.MonthEnd()

Timestamp('2025-11-30 00:00:00')

In [34]:
start - pd.offsets.MonthEnd() # MonthBegin()

Timestamp('2025-10-31 00:00:00')

In [ ]:
start + pd.offsets.BMonthEnd() # BMonthBegin()

Timestamp('2025-11-28 00:00:00')

# pd.Timedelta() # duration

In [36]:
start

datetime.date(2025, 11, 18)

In [37]:
duration = pd.Timedelta(weeks=5, days=3, hours=4, minutes=30, seconds=15)
start + duration

datetime.date(2025, 12, 26)