# Concatenating and Merging Datasets

In [1]:
import numpy as np
import pandas as pd

In [3]:
groups1 = pd.read_csv("data/groups1.csv")
groups2 = pd.read_csv("data/groups2.csv")
groups = pd.concat(objs=[groups1, groups2], ignore_index=True)
groups

,group_id,name,category_id,city_id
0,6388,Alternative Health NYC,14,10001
1,6510,Alternative Energy Meetup,4,10001
2,8458,NYC Animal Rights,26,10001
3,8940,The New York City Anime Group,29,10001
4,10104,NYC Pit Bull Group,26,10001
...,...,...,...,...
16325,26377464,Shinect,34,94101
16326,26377698,The art of getting what you want [conference s...,14,94101
16327,26378067,Streeterville Running Group,9,60601
16328,26378128,Just Dance NYC,23,10001
16329,26378470,FREE Arabic Chicago Evanston North Burbs,31,60601