# Pivot Tables

In [1]:
import numpy as np
import pandas as pd

In [2]:
sales = pd.read_csv("data/sales_by_employee.csv", parse_dates=["Date"])
sales

C:\Users\singa\AppData\Local\Temp\ipykernel_6240\2914903902.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  sales = pd.read_csv("data/sales_by_employee.csv", parse_dates=["Date"])

         Date     Name           Customer  Revenue  Expenses
0  2020-01-01    Oscar      Logistics XYZ     5250       531
1  2020-01-01    Oscar        Money Corp.     4406       661
2  2020-01-02    Oscar         PaperMaven     8661      1401
3  2020-01-03    Oscar        PaperGenius     7075       906
4  2020-01-04    Oscar        Paper Pound     2524      1767
5  2020-01-05    Oscar        Paper Pound     2793       624
6  2020-01-01  Michael      Logistics XYZ     7172       412
7  2020-01-02  Michael        PaperGenius     6362       685
8  2020-01-03  Michael        PaperGenius     5982      1772
9  2020-01-04  Michael     Best Paper Co.     7917      1857
10 2020-01-05  Michael     Best Paper Co.     7837      1633
11 2020-01-01      Jim        PaperGenius     1864      1305
12 2020-01-02      Jim        Money Corp.     8278       462
13 2020-01-03      Jim        Paper Pound     4226      1923
14 2020-01-04      Jim         PaperMaven     3868      1889
15 2020-01-04      Jim  Average Paper Co.     2287       426
16 2020-01-01   Dwight        PaperGenius     2639       368
17 2020-01-03   Dwight      Logistics XYZ     4951       758
18 2020-01-03   Dwight     Best Paper Co.     2703      1321
19 2020-01-03   Dwight      Logistics XYZ     4258      1202
20 2020-01-05   Dwight        Paper Pound     7771      1475
21 2020-01-01    Creed        Money Corp.     4430       548
22 2020-01-02    Creed  Average Paper Co.     8026      1906
23 2020-01-02    Creed  Average Paper Co.     5188      1768
24 2020-01-04    Creed         PaperMaven     3144      1314
25 2020-01-05    Creed        Money Corp.      938      1053

In [23]:
sales.pivot_table(
    index="Name",
    columns="Customer",
    values="Revenue",
    aggfunc="sum",
    fill_value=0,
    margins=True,
    margins_name="Total"
)

Customer,Average Paper Co.,Best Paper Co.,Logistics XYZ,Money Corp.,Paper Pound,PaperGenius,PaperMaven,Total
Name,,,,,,,,
Creed,13214,0,0,5368,0,0,3144,21726
Dwight,0,2703,9209,0,7771,2639,0,22322
Jim,2287,0,0,8278,4226,1864,3868,20523
Michael,0,15754,7172,0,0,12344,0,35270
Oscar,0,0,5250,4406,5317,7075,8661,30709
Total,15501,18457,21631,18052,17314,23922,15673,130550