# Introduction to Descriptive Statistics

## 2. Load the Dataset

In [22]:
import pandas as pd
df = pd.read_csv("sales_daily.csv")
df.head()

         date  sales
0  01-01-2023     18
1  02-01-2023    167
2  03-01-2023    177
3  04-01-2023    162
4  05-01-2023    173

In [23]:
# Conver the date column:
df['date'] = pd.to_datetime(df['date'], format="mixed")

## 3. Central Tendency

In [24]:
# mean (average)
df['sales'].mean()

161.42222222222222

In [25]:
# median
df['sales'].median()

162.0

In [26]:
# mode
df['sales'].mode()

0    144
Name: sales, dtype: int64

## 4. Measures of Dispersion

In [27]:
# range: difference between largest and smallest value
df['sales'].max() - df['sales'].min()

436

In [28]:
# Variance
df['sales'].var()

2911.658585858586

In [29]:
# Standard Deviation
df['sales'].std()

53.95978674771228

In [30]:
# Interquartile Range(IQR)
Q1 = df['sales'].quantile(0.25)
Q2 = df['sales'].quantile(0.5)
Q3 = df['sales'].quantile(0.75)
# print(f"Q1: {Q1}, Q2: {Q2}, and Q3: {Q3}")
IQR = Q3 - Q1
print("IQR:", IQR)

IQR: 34.0

## 5. Detecting Outliers (Using IQR Rule)

In [31]:
lower = Q1 - 1.5 * IQR
upper = Q3 + 1.5 * IQR
outliers = df[(df['sales'] < lower) | (df['sales'] > upper)]
outliers

         date  sales
0  2023-01-01     18
44 2023-02-14    454

## 6. Data Visualization (Basic)

### The `matplotlib` library is used for plotting graphs and charts
- The `pyplot` module of this library helps to plot the graphs and charts
- Syntax to install matplotlib at terminal (cmd):

```
pip install matplotlib
```

In [ ]:
import matplotlib.pyplot as plt