# Introduction to Descriptive Statistics

## 2. Load the Dataset

In [6]:
import pandas as pd
df = pd.read_csv("sales_daily.csv")
df.head()

         date  sales
0  01-01-2023    128
1  02-01-2023    167
2  03-01-2023    177
3  04-01-2023    162
4  05-01-2023    173

In [10]:
# Conver the date column:
df['date'] = pd.to_datetime(df['date'], format="mixed")

## 3. Central Tendency

In [11]:
# mean (average)
df['sales'].mean()

156.53333333333333

In [12]:
# median
df['sales'].median()

160.0

In [13]:
# mode
df['sales'].mode()

0    144
Name: sales, dtype: int64

## 4. Measures of Dispersion

In [14]:
# range: difference between largest and smallest value
df['sales'].max() - df['sales'].min()

75